<div class="pageContainer">
    <p class="phoneNumberLabel">PhoneNumber:</p>
    <input class="phoneNumberinput" type="text" [formControl]="phoneNumberControl">
    <button class="button" (click)="buttonClick($event)"> Submit </button>
    <div *ngIf="noneFound" class="warning">
        <p>I was unable to find any vanity numbers for this number.</p>
    </div>

    <h3>Top 5 Vanity Numbers for your Number</h3>
    <Table class="numberTable">
        <tr>
            <th>
                <p>Matched Word</p>
            </th>
            <th>
                <p>Vanity Number</p>
            </th>
        </tr>
        <div *ngFor="let num of numbers">
            <tr>
                <td>
                    <span class="choice">{{ num.word }}</span>
                </td>
                <td>
                    <span class="choice">{{ num.vanityNumber }}</span>
                </td>
            </tr>
        </div>
    </Table>
</div>