h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 95%;
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  position: relative;
  z-index: 5;
}
.details {
  display: block;
  background-color: rgb(129, 129, 129);
  color: white;
  height: 100%;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  transition: none;
  width: 90%;
  z-index: 1;
}

.jobsTable {
    width: 100%;
    padding: 5;
    border-collapse: collapse;
}
.jobs .titlebar {
    background-color: rgb(206, 204, 204);
    height: 20px;
}
.Introduction  {
 text-align: center;
 width: 100%;
}
