<div class="pageContainer">
    <form action="/action_page.php">
        <label class="phoneNumberLabel" for="PhoneNumber">Phone Number: </label>
        <input class="phoneNumberinput" type="tel" id="PhoneNumber" name="PhoneNumber" placeholder="1-555-555-0123"><br />
        <input type="submit" value="Submit" class="submit">
    </form>

    <h2>Your Current Vanity Number</h2>
    <p class="CurrentNumber">1-800-Flowers</p>
    <h3>Top 5 Vanity Numbers for your Number</h3>
    <Table class="numberTable">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td class="btnColumn">
                <button class="button" >Pick Me</button>
            </td>
            <td class="textColumn">
                <span class="choice">1-800-FLOWERS</span>
            </td>
        </tr>
        <tr>
            <td class="btnColumn">
                <button class="button">Pick Me</button>
            </td>
            <td class="textColumn">
                <span class="choice">1-800-FLOWERS</span>
            </td>
        </tr>
        <tr>
            <td class="btnColumn">
                <button class="button">Pick Me</button>
            </td>
            <td class="textColumn">
                <span class="choice">1-800-FLOWERS</span>
            </td>
        </tr>
        <tr>
            <td class="btnColumn">
                <button class="button">Pick Me</button>
            </td>
            <td class="textColumn">
                <span class="choice">1-800-FLOWERS</span>
            </td>
        </tr>
        <tr>
            <td class="btnColumn">
                <button class="button">Pick Me</button>
            </td>
            <td class="textColumn">
                <span class="choice">1-800-FLOWERS</span>
            </td>
        </tr>
    </Table>
</div>